[submodule "env_setup"]
	path = env_setup
	url = https://github.com/dsouzaankit/ios_env_setup.git
[submodule "Skybox_vr_pc"]
	path = Skybox_vr_pc
	url = https://github.com/dsouzaankit/skybox-vr-pc.git
